{# Playlist Item #}
{% raw %}
<script id="playlist-item-template" type="text/x-handlebars-template">
  <li class="list-group-item">
    <div class="clear text-ellipsis">
      <span class='song-title'>{{ title }}</span>
    </div>
  </li>
</script>
{% endraw %}


{# Song Info Modal  #}
{% raw %}
<!-- Song Info Modal -->
<div class="modal fade" id="song-info-modal" tabindex="-1" role="dialog" aria-labelledby="song-info-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="song-info-modal-label">{{title}}</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endraw %}

{# Song Info Modal  #}
{% raw %}
<!-- Song Info form -->
<form action='/songs/{{id}}/update' method='post' id='song-info-data'>
<input type="hidden" name="came_from" value="{{came_from}}"/>
<div class="form-group">
   <label>Title</label>
    <input type="text" placeholder="{{title}}" class="form-control rounded input-md" name="title", value="{{title}}">
</div>
<div class="form-group">
    <label>Artist</label>
    <input type="text" placeholder="{{artist}}" class="form-control rounded input-md" name="artist", value="{{artist}}">
</div>
<div class="form-group">
    <label>Album</label>
    <input type="text" placeholder="{{album}}" class="form-control rounded input-md" name="artist", value="{{album}}">
</div>
<div class="form-group">
    <label>Album Art</label>
    <input type="text" placeholder="{{albumart}}" class="form-control rounded input-md" name="artist", value="{{albumart}}">
</div>
<div class="form-group">
    <label>Original Url: {{original_url}}</label>
    <input type='hidden' name='original_url' value='{{original_url}}'>
</div>
</form>

{% endraw %}

