{% raw %}


<script id="playlist-item-template" type="text/x-handlebars-template">
  <li class="list-group-item">
    <div class="clear text-ellipsis">
      <span class='song-title'>{{ title }}</span>
    </div>
  </li>
</script>


{% endraw %}
