
<ul id='playing-list' class="list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto">
{% for song in playlist %}
  <li class="list-group-item">
    <div class="pull-right m-l">
    </div>
    <div class="clear text-ellipsis">
      <span>{{ song.title |replace("file: http://s3.amazonaws.com/oontz-room/", "")|replace("_", " ") |truncate(100) }}</span>
    </div>
  </li>
{% endfor %}
</ul>


