
  <ul id="bitlist-default" style="display:none;">
    <li data-source="bitlist-stream"  data-thumbnail-path="/content/thumbnails/large1.jpg">
      <p class="minimalDarkCategoriesTitle"><span class="bold">Title: </span>Default Playlist</p>
      <p class="minimalDarkCategoriesType"><span class="bold">Type: </span><span class="minimalDarkCategoriesTypeIn">HTML</span></p>
      <p class="minimalDarkCategoriesDescription"><span class="bold">Description: </span>Collaborative Playlist Music - BITLIST.</p>
    </li>
  </ul>

  <ul id="bitlist-stream" style="display:none;">
    <li data-path="http://{{player_host}}:8000/;mp3" data-thumbpath="/static/img/bitlist-station-thumb.png" data-downloadable="no" data-duration="00:00">
      <p><span style="font-weight:bold; color:#105FD0;">Bit List - Collaborative Playlists</span></p>
    </li>
  </ul>


