<section class="col-sm-3 no-padder lt">
    <section class="vbox">
      <section class="scrollable hover">
        <div class="m-t-n-xxs">
          <div class="item pos-rlt">
            <a href="#" class="item-overlay active opacity wrapper-md font-xs">
              <span class="block h3 font-bold text-info">Spotify</span>
              <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
            </a>
            <a href="#">
              <img class="img-full" src="images/search-spotify.jpg" alt="...">
            </a>
          </div>
          <div class="item pos-rlt">
            <a href="#" class="item-overlay active opacity wrapper-md font-xs text-right">
              <span class="block h3 font-bold text-warning text-u-c">SoundCloud</span>
              <span class="bottom wrapper-md block"><i class="icon-arrow-right i-lg pull-left"></i> -</span>
            </a>
            <a href="#">
              <img class="img-full" src="images/search-soundcloud.jpg" alt="...">
            </a>
          </div>
          <div class="item pos-rlt">
            <a href="#" class="item-overlay active opacity wrapper-md font-xs">
              <span class="block h3 font-bold text-success text-u-c">Youtube</span>
              <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
            </a>
            <a href="#">
              <img class="img-full" src="images/search-youtube.jpg" alt="...">
            </a>
          </div>
          <div class="item pos-rlt">
            <a href="#" class="item-overlay active opacity wrapper-md font-xs text-right">
              <span class="block h3 font-bold text-white text-u-c">Mixcloud</span>
              <span class="text-muted">Coming Soon...</span>
              <span class="bottom wrapper-md block"><i class="icon-arrow-right i-lg pull-left"></i> -</span>
            </a>
            <a href="#">
              <img class="img-full" src="images/search-mixcloud.png" alt="...">
            </a>
          </div>
          <div class="item pos-rlt">
            <a href="#" class="item-overlay active opacity wrapper-md font-xs">
              <span class="block h3 font-bold text-danger-lter text-u-c">Upload</span>
              <span class="text-muted">Coming Soon...</span>
              <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
            </a>
            <a href="#">
              <img class="img-full" src="images/search-upload.jpg" alt="...">
            </a>
          </div>
        </div>
      </section>
    </section>
  </section>
