<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/player.css" media="screen">

    <!-- Sticky player -->
    <link href="/static/css/style.css" rel="stylesheet" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/js/jquery.jplayer.min.js"></script>
    <script src="/static/js/jplayer.playlist.min.js"></script>
    <script src="/static/js/id3.min.js"></script>
    <script src="/static/js/iscroll.min.js"></script>

    <script src="/static/js/jquery.linerPlayer.min.js"></script>
    <script>
        jQuery(function($) {
            jQuery('body').linerPlayer({
                autoplay: true,
                veryThin: false,
                nowplaying2title: true,
                accentColor:"#ff6600",
                pluginPath: "/static/js", // <<< IMPORTANT! - Change this to your path to the plugin folder
                playlist: [
                    {file:"{{ listen-url }}", title:"The Oontz Room", album:"Heavilly under construction! Pardon our dust", cover:false}
                ]
            });
        });
    </script>

  </head>
  <body>



  </body>
</html>
