

body {
    background-image: url(/static/img/bitlist-icon-faded.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF;
}


.playlist {
    font-family: 'PT Sans', sans-serif;
}
