/* Anthony will probably hate every line of this, but IDGAF - YOLO */

body {
    background-image: url(/static/dj.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFF;
}
